---
import type { Page } from "astro";
import { Icon } from "astro-icon/components";
import { url } from "../../utils/url-utils";

interface Props {
	page: Page;
	class?: string;
	style?: string;
}

const { page, style } = Astro.props;

const HIDDEN = -1;

const className = Astro.props.class;

const ADJ_DIST = 2;
const VISIBLE = ADJ_DIST * 2 + 1;

// for test
let count = 1;
let l = page.currentPage;
let r = page.currentPage;
while (0 < l - 1 && r + 1 <= page.lastPage && count + 2 <= VISIBLE) {
	count += 2;
	l--;
	r++;
}
while (0 < l - 1 && count < VISIBLE) {
	count++;
	l--;
}
while (r + 1 <= page.lastPage && count < VISIBLE) {
	count++;
	r++;
}

let pages: number[] = [];
if (l > 1) pages.push(1);
if (l === 3) pages.push(2);
if (l > 3) pages.push(HIDDEN);
for (let i = l; i <= r; i++) pages.push(i);
if (r < page.lastPage - 2) pages.push(HIDDEN);
if (r === page.lastPage - 2) pages.push(page.lastPage - 1);
if (r < page.lastPage) pages.push(page.lastPage);

const getPageUrl = (p: number) => {
	if (p === 1) return "/";
	return `/${p}/`;
};
---

<div class:list={[className, "comments-pagination"]} style={style}>
    <div class="page-numbers">
        <!-- Previous Button -->
        <a href={page.url.prev || ""} aria-label={page.url.prev ? "Previous Page" : null}
           class:list={[
               {"disabled": page.url.next == undefined}
           ]}
        >
            <Icon name="material-symbols:chevron-left-rounded" class="text-[1rem]"></Icon>
        </a>
        
        <!-- Page Numbers -->
        {pages.map((p) => {
            if (p == HIDDEN)
                return <span class="dots">...</span>;
            if (p == page.currentPage)
                return <span class="current">
                    <span class="page-link">{p}</span>
                </span>
            return <a href={url(getPageUrl(p))} aria-label={`Page ${p}`}>
                {p}
            </a>
        })}
        
        <!-- Next Button -->
        <a href={page.url.next || ""} aria-label={page.url.next ? "Next Page" : null}
           class:list={[
               {"disabled": page.url.next == undefined}
           ]}
        >
            <Icon name="material-symbols:chevron-right-rounded" class="text-[1rem]"></Icon>
        </a>
    </div>
</div>