---
import type { Page } from "astro";
import { Icon } from "astro-icon/components";
import { url } from "../../utils/url-utils";

interface Props {
	page: Page;
	class?: string;
	style?: string;
}

const { page, style } = Astro.props;

const HIDDEN = -1;

const className = Astro.props.class;

const ADJ_DIST = 2;
const VISIBLE = ADJ_DIST * 2 + 1;

// for test
let count = 1;
let l = page.currentPage;
let r = page.currentPage;
while (0 < l - 1 && r + 1 <= page.lastPage && count + 2 <= VISIBLE) {
	count += 2;
	l--;
	r++;
}
while (0 < l - 1 && count < VISIBLE) {
	count++;
	l--;
}
while (r + 1 <= page.lastPage && count < VISIBLE) {
	count++;
	r++;
}

let pages: number[] = [];
if (l > 1) pages.push(1);
if (l === 3) pages.push(2);
if (l > 3) pages.push(HIDDEN);
for (let i = l; i <= r; i++) pages.push(i);
if (r < page.lastPage - 2) pages.push(HIDDEN);
if (r === page.lastPage - 2) pages.push(page.lastPage - 1);
if (r < page.lastPage) pages.push(page.lastPage);

const getPageUrl = (p: number) => {
	if (p === 1) return "/";
	return `/${p}/`;
};
---

<div class:list={[className, "pagination flex flex-row gap-1.5 justify-center flex-wrap"]} style={style}>
    <a href={page.url.prev || ""} aria-label={page.url.prev ? "Previous Page" : null}
       class:list={["pagination-link flex items-center justify-center gap-1 min-w-[30px] h-[30px] rounded-lg text-[var(--primary)] text-sm",
           {"disabled": page.url.prev == undefined}
       ]}
    >
        <Icon name="material-symbols:chevron-left-rounded" class="text-[1.25rem]"></Icon>
    </a>
    <div class="pagination-numbers flex flex-row items-center justify-center gap-1">
        {pages.map((p) => {
            if (p == HIDDEN)
                return <div class="pagination-dots text-neutral-500 dark:text-neutral-400 text-sm">...</div>;
            if (p == page.currentPage)
                return <div class="pagination-current min-w-[30px] h-[30px] rounded-lg bg-[var(--primary)] flex items-center justify-center
                    font-bold text-white text-sm"
                >
                    {p}
                </div>
            return <a href={url(getPageUrl(p))} aria-label={`Page ${p}`}
                class="pagination-link min-w-[30px] h-[30px] rounded-lg flex items-center justify-center text-sm text-neutral-700 dark:text-neutral-300 hover:bg-[var(--primary)_10%] hover:text-[var(--primary)] transition-all duration-300"
            >{p}</a>
        })}
    </div>
    <a href={page.url.next || ""} aria-label={page.url.next ? "Next Page" : null}
       class:list={["pagination-link flex items-center justify-center gap-1 min-w-[30px] h-[30px] rounded-lg text-[var(--primary)] text-sm",
           {"disabled": page.url.next == undefined}
       ]}
    >
        <Icon name="material-symbols:chevron-right-rounded" class="text-[1.25rem]"></Icon>
    </a>
</div>